.App {
  margin: 0;
  text-align: center;
}

.Wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.UserWrapper {
  margin: 20px;
  border: none;
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  transition: 0.3;
  text-align: center;
}
.UserWrapper:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.picture {
  width: 80%;
}

.search-input {
  padding: 8px;
  border-radius: 6px;
  width: 200px;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
